img {
  width: 100px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  position: relative;
  min-width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.small-btn {
  font-size: 0.8em;
  color: grey;
  background-color: none;
  border: none;
  border-radius: 0.25rem;
}

.qty-btn:not(:disabled) {
  border-color: #007bff;
  background-color: #007bff;
  color: white;
}
