<div class="confirmation-container">
  <div class="confirmation-items">
    <h1 class="confirmation-header">Order Success!</h1>
    <div class="confirmation-item">Thank you, <b>{{ orderUser }}</b>!</div>
    <div class="confirmation-item">Your <b>${{ orderCost }}</b> order is confirmed!</div>
    <div class="confirmation-item">Please allow 1-3 business day(s) for shipping.</div>
    <div class="confirmation-item">
      <button class="btn btn-primary" routerLink="/">Back to product list</button>
  </div>
  </div>
</div>
